body {
  padding-top: 56px;
  color: #fff8f0;
  background-color: #18191C;
  font-family: Garamond, sans-serif;
}

h1 {
  color: inherit;
  font-family: inherit;
  font-size: 3vw;
  font-weight: bold;
  display: contents;
}

h2 {
  font-family: inherit;
  float: left;
  font-size: 2.3vw;
  font-style: italic;
}

p {
  font-size: 1.5vw;
}

@media only screen and (max-width: 600px) {
  h1{
    font-size: 4vw;
    display: contents;
    font-weight: bold;
  }

  h2{
    font-size: 2.5vw;
    word-wrap:break-word;
  }
}

a {
  color: inherit;
  font-family: inherit;
  font-weight: lighter;
  display: block;
  padding: 26px 20px 20px 20px;
}

a:hover {
  color: inherit;
  font-family: inherit;
  font-weight: lighter;
  text-decoration: none;
}

a:active {
  color: inherit;
  font-family: inherit;
  font-weight: lighter;
  text-decoration: none;
}

a:visited {
  color: inherit;
  font-family: inherit;
  font-weight: bold;
  text-decoration: none;
}

.backgroundImage {
  background:
    /* top, transparent red, faked with gradient */
    linear-gradient(
      rgba(7, 25, 41, 0.45),
      rgba(7, 25, 41, 0.45)
    ),
    /* bottom, image */
    url("../resources/lawsonAtTheMic.jpg");

  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.menuContainer {
  position: relative;
  float: left;
  top: 65%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.menuRed {
  background: rgba(254, 0, 6, 0.75);
  position: fixed;
  font-size: 2vw;
  width: 100%;
  top: 0px;
  left: 0px;
  height: 10vh;
  padding-bottom: .75%;
}

.menuRed:hover {
  background: rgba(255, 62, 67);
}

.redText {
  color: #FE7377;
}

.menuPurple {
  background: rgba(156, 58, 163, 0.75);
  position: fixed;
  font-size: 2vw;
  width: 100%;
  top: 0px;
  left: 0px;
  height: 10vh;
  padding-bottom: .75%;
}

.menuPurple:hover {
  background: rgba(127, 26, 134);
}

.purpleText {
  color: #AE10D5;
}

.menuGreen {
  background: rgba(61, 220, 152, 0.75);
  position: fixed;
  font-size: 2vw;
  width: 100%;
  top: 0px;
  left: 0px;
  height: 10vh;
  padding-bottom: .75%;
}

.menuGreen:hover {
  background: rgba(31, 203, 129);
}

.greenText {
  color: #95F2CA;
}

.content {
  margin-top: 3%;
}

.heading {
  font-size: 2vw;
  text-align: center;
}


/* ==================Music Production================ */
.collapsible {
  background-color: #777;
  color: white;
  cursor: pointer;
  padding: 18px;
  width: 100%;
  border: none;
  text-align: left;
  outline: 0;
  font-size: 3vw;
  text-align: center;
}

.active, .collapsible:hover {
  background-color: #555;
}

.musicDetails {
  padding: 0 18px;
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.2s ease-out;
  background-color: darkgray;
}

.musicRow{
  display: inline-flex;
  width: 100%;
}

.musicSubTitle{
  padding-left: 1%;
}
